<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours</title>
</head>
<body>
<h1>Cours</h1>

<h2>Sport</h2>
<ul>

    <th:block th:each="sport : ${sports}">
        <li th:text="${sport}"></li>
    </th:block>
</ul>

<h2>Culture</h2>
<ul>

    <th:block th:each="culture : ${cultures}">
        <li th:text="${culture}"></li>
    </th:block>
</ul>

<h2>Artisanat</h2>
<ul>

    <th:block th:each="artisanat : ${artisanats}">
        <li th:text="${artisanat}"></li>
    </th:block>
</ul>
</body>
</html>